.personal-layout
{
    min-height: 800px;
    height:100%;
    width: 100%;
    position: absolute;
    background: #fff;
    text-align: center;
}
.personal-content
{
    margin: 10px auto 10px auto;
}
.personal-outer-div
{
    text-align: center;
    margin: 15% 15% 0 0;
    height: 100%;
    width: 65%;
    float: left;
}
.personal-right-div
{
    float: right;
    height: 100%;
    margin: 20% auto 30% auto;
    width: 20%;
    vertical-align: middle
}