.personal-layout
{
    min-height: 800px;
    height:100%;
    width: 100%;
    position: absolute;
    background: #fff;
    text-align: center;
}
.personal-content
{
    margin: 10px auto 0 auto;
    height: 100%;
    width: 50%;
}
.personal-left-div
{
    text-align: center;
    margin: 40px 5% 0 0;
    height: 85%;
    width: 75%;
    float: left
}
.personal-right-div
{
    height: 85%;
    margin: 60px auto 0% auto;
    width: 20%;
    float: right;
    vertical-align: middle
}
.personal-form
{
    width: 100%;
}