.reg-layout
{
    min-height: 600px;
    height:100%;
    width: 100%;
    position: absolute;
    background: #fff;
    text-align: center;
}
.reg-content
{
    width: 80%;
    margin: 10px auto 10px auto;
    text-align: center;
}
.reg-div-form
{
    width: 100%;
    margin: 10px auto 10px auto;
    max-width: 500px;
    min-width: 200px;
    text-align: center;
}
.reg-form
{
    width: 80%;
    margin: 5% 10% 0% 10%;
    text-align: center
}